body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#OuterContainer{
    height: 520px;
    width: 320px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  
}

#DisplayRegion{
    height: 120px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}
.UserInput{
    width: 100%;
    height: 35%;
    
}
.Result{
    width: 100%;
    height: 65%;
    
}

#ButtonContainer{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 5px;
flex: 1; /*this allows them to grow */
margin: 10px;
}

button{
flex: 1;
flex-basis: calc(25% - 5px);  /*dividing them in an area that it will occupy 1/4 of the width */
border-radius: 10px;   
}